/* GLOBAL STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  color: #eee;
  font-family: Helvetica, Arial;
  font-size: 3vmin;
}

/* BACKGROUND */
.main {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  flex: 1;
  text-align: center;
}

/* LOGO  */
.applogo {
  animation: App-logo-spin infinite 20s linear;
  position: relative;
  pointer-events: none;
  height: 10vmin;
  top: 250px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* BUTTONS */
.btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  font-size: 1.5vmin;
  padding: 0.5em 1em;
  text-transform: uppercase;
  transition: all 0.25s ease;
  margin: 0 auto;
}

.login {
  position: relative;
  margin-top:10px;
}

.logincontainer {
  position: absolute;
}

.btn:hover {
  background: #1ecd97;
  color: white;
}

.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.divider {
  width:5px;
  height:auto;
  display:inline-block;
}
