/** Now Playing **/
.nowPlaying_name {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}
.nowPlaying_artist {
  margin-bottom: 1em;
}
.nowPlaying_status {
  margin-bottom: 1em;
}
.nowPlaying_img {
  float: left;
  margin-right: 10px;
  text-align: right;
  width: 45%;
}
.nowPlaying_img img {
  max-width: 80vmin;
  width: 100%;
}
.nowPlaying_side {
  margin-left: 5%;
  width: 45%;
}

/** Progress **/
.progress {
  border: 1px solid #eee;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
}
.progress_bar {
  background-color: black;
  height: 4px;
}