/* BACKGROUND */
.mainWrapper {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  width: 80%;
  z-index: 1;
}

.background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  filter: blur(8em) opacity(0.6);
  position: absolute;
}

/** Now Playing **/
.nowPlaying_name {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}
.nowPlaying_artist {
  margin-bottom: 1em;
}
.nowPlaying_status {
  margin-bottom: 1em;
}
.nowPlaying_img {
  float: left;
  margin-right: 10px;
  text-align: right;
  width: 45%;
}
.nowPlaying_img img {
  max-width: 80vmin;
  width: 100%;
}
.nowPlaying_side {
  margin-left: 5%;
  width: 45%;
}

/** Progress **/
.progress {
  border: 1px solid #eee;
  border-radius: 3px;
  overflow: hidden;
  padding-right: 3em;
}
.progress_bar {
  background-color: black;
  height: 4px;
}

.timer {
  float: right;
  font-size: 0.7em;
  position: relative;
}

/* LYRICS */
.lyrics {
  position: absolute;
  top: 200px;
  padding-top: 50px;
  bottom: 0;
}